* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
  color: rgb(233, 229, 229);
  font-weight: bold;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: "Roboto Slab", serif;
  background: #0a0a0a;
  border: 1px solid black;
  scroll-behavior: smooth;
}
.navbar li {
  cursor: pointer;
}
/* .fancy {
  position: absolute;
  top: 10%;
  height: 100vh;
  width: 100%;

  z-index: 1;
  left: 5%;
  background-color: rgb(204, 204, 204);
  border-radius: 0% 100% 0% 100% / 53% 0% 100% 50%;
} */

.nav {
  background: #131313;
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  z-index: 1000;
  border-radius: 40px;
  padding-top: 2px;

  padding-right: 10px;
  width: 90%;
  margin-bottom: 50px;
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav li a {
  color: white;
  padding-top: 5px;
}
.nav li a:hover {
  color: rgb(228, 82, 29);
  text-decoration: none;
  transition: 0.3s;
}
.profile-pic {
  height: 70px;
  object-fit: cover;
  margin-left: 10px;
  align-self: flex-start;
  width: 70px;
  border-radius: 50%;
}
.introduction > h1 {
  font-size: 100px;
  color: white;
}
.introduction i {
  margin-right: 20px;
  font-size: 30px;
  margin-top: 30px;
  color: white;
}
.introduction i:hover {
  color: turquoise;
  transition: 0.3s;
}
.introduction > h2 {
  color: white;
}
a {
  text-decoration: none;
  color: rgb(206, 204, 204);
}
ul {
  display: flex;
}
li {
  list-style: none;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 20px;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: 10px;
}
.home {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  margin-top: 0px;
  z-index: -2;
}

.home h2 {
  margin-left: 4px;
}
.fancy-icon {
  margin-top: 23rem;
  margin-right: 30px;
  height: 100px;
  width: 100px;
  border-radius: 60% 40% 44% 56% / 37% 50% 50% 63%;
  background-image: linear-gradient(45deg, #0e0181 0%, turquoise 100%);
  z-index: 2;
}
.introduction {
  margin-top: 140px;
  margin-left: 80px;
  z-index: 2;
  color: white;
  align-items: center;
}
h1 {
  font-size: 100px;
  margin-bottom: 10px;
  color: rgb(255, 255, 255);
}

.icons {
  display: flex;
  justify-content: space-evenly;
}
.about {
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.about-heading {
  width: 20%;
}
.about-heading > h1 {
  font-size: 64px;
  padding: 2px;
}
.about__text {
  margin-left: 20px;
}
.about__text > h3 {
  font-size: 40px;
  margin-top: 20px;
}
.freelancer {
  display: flex;
  width: 100%;
  margin-right: 20px;
  margin-left: 20px;
  align-items: left;
}
.freelancer__main {
  display: block;
}
.about-heading {
  width: 100%;
}
.about-heading h2 {
  font-size: 60px;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 30px;
}
span {
  font-size: 60px;
  margin-bottom: 20px;
  margin-top: 20px;
  color: white;
  text-decoration: underline;
}

.freelancer img {
  height: 450px;
  width: 450px;
  margin-right: 30px;
  flex: 0.5;
  object-fit: contain;
}
.freelancer h3 {
  margin-top: 120px;
  flex: 0.3;
  padding-right: 20px;
  flex: 0.4;
  font-weight: 600;
  margin-left: 100px;
  font-size: 32px;
}
.portfolio {
  margin-top: 100px;
}
a:hover {
  text-decoration: none;
  color: orangered;
}
.portfolio > h1 {
  font-size: 60px;
}
.portfolio > h4 {
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 30px;
  margin-top: 30px;
}
.google-maps-challenge {
  display: flex;
  object-fit: contain;
  margin-top: -150px;
  margin-bottom: -230px;
}

.about-heading h2 {
  color: rgb(224, 223, 223);
  margin-bottom: 10px;
}
.google-maps {
  width: 499px !important;
  object-fit: contain;
}
.skills {
  margin-top: 30px;
  color: white;
}
.portfolio-images {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.google-maps {
  height: 100%;
  width: 100%;
}
.portfolio-images p {
  margin: 20px;
  font-size: 40px;
  text-align: center;
}
.skills h2 {
  margin-top: 100px;
  font-size: 60px;
  margin-bottom: 20px;
}
.skill {
  display: flex;
  align-items: center;
  justify-content: center;
}
.skill_list_1 .skill_list_2 {
  list-style: none;
  font-size: 28px;
}
.skill_list_1 > li {
  margin-left: auto;
  margin-bottom: 10px;
}
.skill_list_2 > li {
  margin-right: auto;

  margin-bottom: 10px;
}
.skill_list_1 {
  margin-right: 20px;
}
.skill-list {
  padding: 20px 30px;
  margin-bottom: 10px;
  background-color: #1abc9c;
  color: white;
}
.testimonials {
  width: 100%;

  margin: auto;
  margin-bottom: 30px;
  /*align-items: center;*/
}
.testimony {
  margin-top: 10px;
  width: 100%;

  color: white;
  font-size: 60px;
  margin-bottom: 30px;
}
.boxes {
  margin-top: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.google-maps {
  height: 180px;
  margin-top: 70px;
  width: 499px;
}
.project-image-1 {
  display: flex;
  flex-direction: column;
}

.project-image-1 {
  height: 600px;
  width: 400px;
}
.netflix-clone {
  padding-left: 40px;
}
.contact {
  padding-top: 50px;
  background-color: #0e0e0e;
}
/* Home details in portfolio kbse aane lag gye?? lol fixing it, but i have to put in my address(fake) ?k I dont think so ou dn't even need to mention "personal" besides number  kk, but let it be like this for now, we can fix everything which is text later on k? Basic layout is more important. Yeah just making the contact form look good now and then deploying it on beta server ig.. what about media queries???*/
.contact > a {
  background-color: rgb(12, 11, 11);
  padding: 10px;
  border-radius: 3px;
  font-size: 30px;
  padding-left: 15px;
  padding-right: 15px;
  color: white;
}
.contact > a:hover {
  text-decoration: none;
  color: grey;
}
.details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
}
.footer {
  background-color: #0e0e0e;
  height: 100px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.fancy-icon {
  animation: shake 20s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}
.fancy-icons {
  margin-top: 100px;
  top: 5px;
  left: 95px;
  height: 313px;
  width: 313px;
  border-radius: 60% 40% 44% 56% / 37% 50% 50% 63%;
  background-image: linear-gradient(45deg, turquoise, rgb(50, 4, 158) 100%);
  margin-right: -50px;
  margin-top: 100px;
  z-index: 2;
  margin-bottom: 30px;
  animation: spin 10s linear infinite;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
@keyframes shake {
  10%,
  90% {
    transform: translate3d(-20px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(20px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-40px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(40px, 0, 0);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
.float-button {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: absolute;
  top: 86%;
  right: 3%;
  position: fixed;
  background-color: rgb(255, 166, 0);
  bottom: 0px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  opacity: 1;
  border: 10px;

  transform: rotate(0deg);
}
.float-button svg {
  fill: white;
  font-size: 28px;
  margin-top: 5px;
}

.float-button i {
  z-index: 100;
}
Link {
  cursor: pointer;
}
@media screen and (max-width: 786px) {
  .portfolio-images {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
  }
  .project-image-1 {
    margin: 0;
    padding: 0;
  }
  .netflix-clone {
    padding: 0;
  }
  .nav {
    width: 100%;
  }
  .freelancer {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;

    align-items: center;
  }
  .freelancer h3 {
    padding: 0;
    margin: 5px;
  }
  .google-maps {
    padding: 0;
    margin-left: -50px;
  }
  .home {
    width: 100%;
    height: 100vh;
    flex-direction: column;
  }
}
@media screen and (min-width: 1400px) {
  .home {
    display: flex;
    justify-content: space-evenly;
    font-size: 5rem;
  }
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: whitesmoke;
}
form > input {
  margin-bottom: 20px;
  width: 40%;
  background: rgb(39, 39, 39);
  color: white;
  border: none;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

form > textarea {
  background: rgb(39, 39, 39);
  border: none;
  color: white;
  width: 40%;
  margin-bottom: 20px;
  text-align: center;
}
form > button {
  padding: 20px;
  border: none;
  border-radius: 8px;
  background: black;
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 20px;
}
a > img {
  height: 620px;
  width: 380px;
  overflow: hidden;
  position: relative;
  transition: transform 0.5s ease;
}

a > img:hover {
  transform: scale(1.5);
}
